body {
    background-color: #eee;
    margin-top: 20px;
}


.title {  
    padding: 0px;
    border: 10px dotted white;
    margin: 50px;
    text-align: center;
    font-family: Comic, sans-serif;
    font-size: 80px;
    background-color: rgb(120, 208, 211);
    color: white;
}
    

li {
    font-size: 30px;
    color: black;
    background-color: rgb(247, 203, 224);
    margin: 10px;
}